<div class="row my-5">
    <div class="col-auto" style="cursor: pointer;">
        <i class="bi bi-arrow-left fs-3 mx-4" [routerLink]="['stocks']"></i>
    </div>
    <div class="col">
        <div class="d-inline-flex align-items-center">
            <p class="fs-3 me-4">{{id}}</p>
            <!-- <p class="fs-5 text-success">+2,91%</p> -->
        </div>
        <p class="fs-5">{{stock?.name}}</p>
    </div>
    <div *ngIf="isLoggedIn" class="col-md-2 d-flex justify-content-end align-items-start">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buyModal">Kaufen</button>
    </div>
</div>

<app-stock-detail-chart></app-stock-detail-chart>

<!-- Buy Modal -->
<div id="buyModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <i class="bi bi-cart-plus me-3"></i>
                <h5 class="modal-title">{{stock?.stockId}} kaufen</h5>
                <button id="buyModalDismiss" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="buyInput" class="form-label">Wie viele Aktien möchtest du kaufen?</label>
                    <input type="number" class="form-control" id="buyInput" value="0,00" min="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="buyStock()">Kaufen</button>
            </div>
        </div>
    </div>
</div>